<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
    <ion-card-content>
    <center><ion-img src="assets/pictures/1.jpg"></ion-img></center>
    
    <div class="profile">
      <h2><strong>Kimberly Arizo</strong></h2>
      <h4>Studies Bachelor of Science in Information Technology at Eastern Visayas State University</h4>
      <h4> From Carigara, Leyte</h4>
      <h4>Lives in Carigara Leyte</h4>
      <hr>
      <h3>More About Kimberly Arizo</h3>
      <h4><b>Work:</b> None</h4>
      <h4><b>Other names:</b> Kimmie</h4>
      <h4><b>Birthday:</b> December 14,1999</h4>
      <h4><b>Relationship:</b>Single</h4>
    </div>
  </ion-card-content>
  </ion-card>
   

</ion-content>
