<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <center><ion-img src="assets/pictures/17.png"></ion-img></center>
        <ion-label>kimberlyarizo14@gmail.com</ion-label>
      <center><ion-img src="assets/pictures/18.png"></ion-img></center>
        <ion-label>Kimberly Arizo</ion-label>
      <center><ion-img src="assets/pictures/19.png"></ion-img></center>
        <ion-label>09556377399</ion-label>
    
  </ion-card-content>
</ion-card>
</ion-content>
